{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <h2>Create account</h2>
    <p>Enter your details below to create an account on <a target="_blank" href="https://meet.publiccode.net" class="text-muted">meet.publiccode.net</a>.</p>

    <form action="{{ url_for('create_user_post') }}" method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}

        <button type="submit" class="btn btn-primary">Create account</button>
    </form>
{% endblock %}
