Source: meet-accountmanager
Section: net
Priority: optional
Maintainer: James Lowry <jlowry@unknown>
Build-Depends: debhelper-compat (= 12), dh-python, python3-setuptools, python3-all
Standards-Version: 4.4.1
Homepage: https://github.com/publiccodenet/wikimedia-meet-accountmanager
Vcs-Browser: https://github.com/publiccodenet/wikimedia-meet-accountmanager
Vcs-Git: https://github.com/publiccodenet/wikimedia-meet-accountmanager.git
#Testsuite: autopkgtest-pkg-python

Package: python3-meet-accountmanager
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-gunicorn (>= 20.0.0), python3-flask (>= 1.1.1), python3-flaskext.wtf (>= 0.14.3)
Suggests: python-meet-accountmanager-doc
Description: A Flask app for creating accounts in Jitsi. (Python 3)
 <insert long description, indented with spaces>
 .
 This package installs the library for Python 3.

