[Unit]
Description=meet-accountmanager daemon
Requires=meet-accountmanager.socket
After=network.target

[Service]
Type=notify
DynamicUser=yes
StateDirectory=meet-accountmanager
LogsDirectory=meet-accountmanager
WorkingDirectory=/var/lib/meet-accountmanager
Environment=GUNICORN_CMD_ARGS="--access-logfile /var/log/meet-accountmanager/access.log --error-logfile /var/log/meet-accountmanager/gunicorn-error.log"
ExecStart=/usr/bin/gunicorn meet_accountmanager:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
