Package: python3-meet-accountmanager
Source: meet-accountmanager
Version: 0.1.0-1
Architecture: all
Maintainer: James Lowry <jlowry@unknown>
Installed-Size: 27
Depends: python3-flask (>= 1.1.1), python3-gunicorn (>= 20.0.0), python3-requests, python3:any
Suggests: python-meet-accountmanager-doc
Section: net
Priority: optional
Homepage: https://github.com/publiccodenet/wikimedia-meet-accountmanager
Description: A Flask app for creating accounts in Jitsi. (Python 3)
 <insert long description, indented with spaces>
 .
 This package installs the library for Python 3.
